@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800&display=swap');

/* General styles */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none;
    border: none;
}

body{
    font-family: 'Poppins', sans-serif;
    
}

a{
    text-decoration: none;
    
}
section{

    margin: 2rem 16rem;
    height: 85vh;
    
}

/* Button */

.btn{
    padding: 1rem 2rem;
    border-radius: 15px;
    background-color: white;
    border: 1px solid #141010;
    transition: all 0.1s ease;
    cursor: pointer;
}

.btn:hover{
    color: white;
    background-color: #141010;
}

/* Navbar styles */

.navbar{
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding-top: 2rem;

}

nav .nav-name{
    font-size: 24px;
    font-weight: 600;
}

nav .nav-links{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 2rem;
    list-style: none;
}

.link a{
    color: #000;
    font-size: 18px;
    position: relative;
}

.link a::after{
    position: absolute;
    background-color: #000;
    content: '';
    height: 2px;
    width: 0;
    bottom: 0;
    left: 0;
    transition: all 0.3s ease;
}

.link a:hover::after{
    width: 70%;
}

/* Header */

.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 10rem;
    height: 85vh;
}

.image-container{
    display: inline-block;
    overflow: hidden;
    width: 400px;
    
    height: 400px;
    position: relative;
    box-shadow: 0px 0px 5px 1px black;
    border-radius: 100%;
}

.image-container img{
    width: 100%;
    height: 100%;
    position: absolute;
    clip-path: circle(50%);
    object-fit: cover;
}

.header-description{
    text-align: center;
    display: flex;
    justify-content:center ;
    align-content: center;
    flex-direction: column;
    gap: 2rem;
}

.description p{
    font-size: 20px;
}

.description .my-name{
    font-size: 30px;
    font-weight: 600;
}

.header-contact i{
    border: 1px solid #141010;
    border-radius: 100%;
    padding: 0.6rem;
    font-size: 25px;
    cursor: pointer;
    transition: all 0.4s ease-in-out;
}

.header-contact i:hover{
    background-color: #141010;
    color: #fff;
}