@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800&display=swap');

/* General styles */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none;
    border: none;
}

body{
    font-family: 'Poppins', sans-serif;
    
}

a{
    text-decoration: none;
    
}
section{

    margin: 2rem 16rem;
    height: 85vh;
    
}

.title{
    text-align: center;
    margin-bottom: 5rem;
}

.aboveTitle{
    text-align: center;
    margin-bottom: 1rem;
}
/* Button */

.btn{
    padding: 1rem 2rem;
    border-radius: 15px;
    background-color: white;
    border: 1px solid #141010;
    transition: all 0.1s ease;
    cursor: pointer;
}

.btn:hover{
    color: white;
    background-color: #141010;
}

/* Navbar styles */

.navbar{
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding-top: 2rem;

}

nav .nav-name{
    font-size: 24px;
    font-weight: 600;
}

.nav-links{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 2rem;
    list-style: none;
}

.link a{
    color: #000;
    font-size: 18px;
    position: relative;
}

.link a::after{
    position: absolute;
    background-color: #000;
    content: '';
    height: 2px;
    width: 0;
    bottom: 0;
    left: 0;
    transition: all 0.3s ease;
}

.link a:hover::after{
    width: 70%;
}

/* Header */

.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 10rem;
    height: 85vh;
}

.image-container{
    display: inline-block;
    overflow: hidden;
    width: 400px;
    
    height: 400px;
    position: relative;
    box-shadow: 0px 0px 5px 1px black;
    border-radius: 100%;
}

.image-container img{
    width: 100%;
    height: 100%;
    position: absolute;
    clip-path: circle(50%);
    object-fit: cover;
}

.header-description{
    text-align: center;
    display: flex;
    justify-content:center ;
    align-content: center;
    flex-direction: column;
    gap: 2rem;
}

.description p{
    font-size: 20px;
}

.description .my-name{
    font-size: 30px;
    font-weight: 600;
}

.header-contact i{
    border: 1px solid #141010;
    border-radius: 100%;
    padding: 0.6rem;
    font-size: 25px;
    cursor: pointer;
    transition: all 0.4s ease-in-out;
}

.header-contact i:hover{
    background-color: #141010;
    color: #fff;
}

/* About me  */

.about-me{
    display: flex;
    flex-direction: column;
}


.about-me-container{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 3rem;
}

.description-container{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 5rem;

}

.my-progress{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 2rem;
}

.education, .experiance{
    font-size: 14px;
    background-color: lightgray;
    display: flex;
    align-items: center;
    padding: 1rem;
    width: 300px;
    height: 100px;
    text-align: center;
    border-radius: 15px;
    box-shadow: 4px 4px 5px 1px rgb(112, 112, 112);
    cursor: default;
    transition: all 0.2s ease;
}

.short-description{
    background-color: lightgray;
    padding: 2rem 3rem;
    width: 632px;
    border-radius: 15px;
    box-shadow: 4px 4px 5px 1px rgb(112, 112, 112);
    font-size: 14px;
    cursor: default;
    transition: all 0.2s ease;
}

.education:hover, .experiance:hover, .short-description:hover{
    box-shadow: 6px 6px 5px 1px rgb(112, 112, 112);
    font-size: 16px ;
}

/* Experiance Section */

.experiance-container{
    display: flex;
    justify-content: start;
    align-items: center;
    flex-direction: column;
    gap: 5rem;
}

.card-experiance{
    background-color: lightgray;
    padding: 4rem;
    border-radius: 20px;
    box-shadow: 5px 5px 5px 1px rgb(112, 112, 112);
}

.skill{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 2rem;
}

/* Project container */

.project{
    height: 100%;
}

.card{
    border: 1px solid lightgray;
    border-radius: 15px;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 500px;
    gap: 1rem;
    box-shadow: 4px 4px 5px 1px rgb(112, 112, 112);
}

.card img{
    object-fit: cover;
    width: 250px;
    height: 350px;
}

.cardBtn a{
    color: black;
}
.cardBtn a:hover{
    color: white;
}

.project-card-container{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 2rem;
}
/* contact */

.contact{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 1rem;
}

.contact-card{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: lightgray;
    padding: 2rem 5rem;
    border-radius: 20px;
    gap: 3rem;
    font-size: 18px;
    box-shadow: 4px 4px 5px 1px rgb(112, 112, 112);
}

/* footer */

.footer{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 2rem;
    padding: 2rem;
}