@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800&display=swap');

/* Navbar styles */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none;
    border: none;
}

body{
    font-family: 'Poppins', sans-serif;
    
}

a{
    text-decoration: none;
    
}

.navbar{
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding-top: 2rem;

}

nav .nav-name{
    font-size: 24px;
    font-weight: 600;
}

nav .nav-links{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 2rem;
    list-style: none;
}

.link a{
    color: #000;
    font-size: 18px;
    position: relative;
}

.link a::after{
    position: absolute;
    background-color: #000;
    content: '';
    height: 2px;
    width: 0;
    bottom: 0;
    left: 0;
    transition: all 0.3s ease;
}

.link a:hover::after{
    width: 70%;
}

